* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}
.menu {
  display: flex;
  border: 1px solid green;
  justify-content: space-between;
}

.menu__section.right {
  border: 1px solid #000;
  display: flex;
  align-items: center;
  gap: 21px;
}

.menu__profile {
  position: relative;
}

.menu__icon--frame {
  position: absolute;
  top: 0; left: 0;
}

.menu__profile > img{
  width: 40px;
  border: 1px solid red;
}